@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral-lightest: #f9f9f9;
    --neutral-light: #e0e0e0;
    --neutral-regular: #b0b0b0;
    --neutral-dark: #707070;
    --neutral-darkest: #303030;

    --primary-lightest: #ffc6bf;
    --primary-light: #dba39c;
    --primary-regular: #b04e43;
    --primary-dark: #803830;
    --primary-darkest: #332826;
  }
}

@layer components {
  .palette-neutral-lightest {
    color: var(--neutral-lightest);
  }
  .palette-neutral-light {
    color: var(--neutral-light);
  }
  .palette-neutral-regular {
    color: var(--neutral-regular);
  }
  .palette-neutral-dark {
    color: var(--neutral-dark);
  }
  .palette-neutral-darkest {
    color: var(--neutral-darkest);
  }

  .palette-primary-lightest {
    color: var(--primary-lightest);
  }
  .palette-primary-light {
    color: var(--primary-light);
  }
  .palette-primary-regular {
    color: var(--primary-regular);
  }
  .palette-primary-dark {
    color: var(--primary-dark);
  }
  .palette-primary-darkest {
    color: var(--primary-darkest);
  }
}
